* {

    justify-items: center;
}

.set-all{
    display: inline;

    text-align: center;
}

.btn-submit {
    border-radius: 20px;
    width: 20%;
    background-color: #1f2235;
    color: whitesmoke;
}

.btn-submit:active {
    background-color: #333;
    color: snow;
}



.email {
    display: block;
    justify-content: center;
}

textarea {
    display: inline-block;
    margin: 3% auto;
    width: 800px;
    height: 500px;
}

.span-textarea {
    background-color: #1f2235;
    color: whitesmoke;
    margin-bottom: 5%;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    text-decoration: none;
    text-indent: unset;
}
.select {
    display: block;
    margin: auto;
    font-style: italic;
    font-size: 1rem;
    color: #1f2235;
    outline: none;
    border: solid #1f2235;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.select:hover {
    border: solid skyblue;
}


